<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <a href="/new">new message</a>
  <% if (locals.messages) {%>
    <ul>
      <% messages.forEach((message)=> { %>
        User: <%= message.username %> <br>
          Message: <%= message.text %> <br>
            Date: <%= message.added.toString() %> <br>
              <!-- <button onclick="openMessage('<%= message.id %>')">open</button> -->
              <a href="/message/<%= message.id %>">open</a>
              <br><br>
              <% }); %>
                <%}%>
    </ul>
</body>

</html>

<script>
  function openMessage(id) {
    window.location.href = `message/${id}`
  }
</script>